.month-grid {
  margin: auto;
}

.month-grid__header {
  justify-content: space-between;
}

.month-grid__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
}

.month-grid__day-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
